.container {
  width: 40em;
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: aquamarine;
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media only screen and (min-width: 315px) and (max-width: 450px) {
  .container {
    all: initial;
    width: 300px;
    font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
  }
}
@media only screen and (min-width: 450px) and (max-width: 600px) {
  .container {
    all: initial;
    width: 400px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1220px) {
  .container {
    all: initial;
    width: 550px;
  }
}
