.container {
  width: 100%;
}

.card {
  width: 400px;
  margin: 2em !important;
}

.card-style {
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.active {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.confirmed {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deceased {
  border-bottom: 10px solid rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 315px) and (max-width: 350px) {
  .card {
    width: 250px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 450px) {
  .card {
    width: 300px;
  }
}
