* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100%;
}

.App {
  display: grid;
  grid-template-rows: minmax(1em, 1fr) 2fr 3fr minmax(1em, 1fr);
  grid-template-columns: 1fr 2fr 3fr 1fr;
}

DistrictSearch {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}
Cards {
  grid-column: 3 / span 1;
  grid-row: 2 / span 2;
}
Charts {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
}
