* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100%;
}

.App {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 40px repeat(2fr) 5em;
  grid-template-rows: 7em 120px 2fr 10px;
}

header {
  margin-top: 1em;
}
header,
#districtName {
  grid-column: 1 / span 4;
  text-align: center;
}

.loading-img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.footer {
  grid-column: 1 / span 4;
  grid-row: 4 / span 1;
  text-align: center;
  margin: 2em auto;
}

.district-search {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  display: flex;
  justify-content: center;
  padding-top: 1.5em;
  height: max-content;
  width: 100%;
}
.cards {
  grid-row: 2 / span 2;
  grid-column: 3 / span 1;
}
.chart {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
}

@media only screen and (min-width: 315px) and (max-width: 450px) {
  #root {
    overflow-x: hidden;
  }
  .App {
    all: initial;
    width: 100%;
    background: #000000;
  }
  .footer {
    margin: 2em auto;
  }
}

@media only screen and (min-width: 450px) and (max-width: 600px) {
  #root {
    overflow-x: hidden;
  }
  .App {
    all: initial;
    width: 100vw;
    padding-top: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .footer {
    margin: 2em auto;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1220px) {
  .App {
    /* width: 100%; */
    all: initial;
  }
}

@media only screen and (min-width: 1220px) and (max-width: 1360px) {
  .App {
    width: 100%;
  }
}
